<div class="whyusbmodern hpimagecontentblock" style="padding-top: 0px;">
  <div class="container">
    <div class="hpvideolock show-500">
      {%- assign video = section.settings.video_url -%}
      <video preload="auto" autoplay="" playsinline="" muted="" loop="" width="100%"  poster="{{ block.settings.image | img_url: 'master'}}">
        <source src="{{ video }}" type="video/mp4">
      </video>          
    </div> 
    <div class="flex-box" style="margin-top: 0px !important;">
      <div class="col-50">
        <div class="hpimagecntnt">
          <div class="text-box hpimagecntntinnr">
            {{ section.settings.description }}
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="hpvideolock hide-500">
          {%- assign video = section.settings.video_url -%}
          <video preload="auto" autoplay="" playsinline="" muted="" loop="" width="100%"  poster="{{ block.settings.image | img_url: 'master'}}">
            <source src="{{ video }}" type="video/mp4">
          </video>          
        </div>
      </div>
    </div>
  </div>
</div>   
{% schema %}
  {
    "name": "Commando Dadi",
    "settings": [
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p><strong>A perfect balance between ancient and modern</strong> In today's fast-paced world, everyone wants a magic pill to eliminate any disease or discomfort that slows them down.Most often, these quick-fix medicines only do symptom management. The root of the problem keeps getting ignored and ultimately takes the form of a deadly disease that is beyond cure.One needs not an alternative medicine but an alternative mindset before approaching healing.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video Url"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

