<div class="ami-pdreviewsec">
  <div class="container">
    <!-- Start of Judge.me code -->
      <div style='clear:both'></div>
      <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-auto-install='false'>
        {{ product.metafields.judgeme.widget }}
      </div>
      <!-- End of Judge.me code -->
    <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
  </div>
</div>
  {% schema %}
  {
    "name": "Reviews",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
